/* public/scss/.. */
/* public/scss/.. */
/* public/scss/.. */
/* public/scss/.. */
.modal__transaction {
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  width: 960px;
  margin: 18px;
  font-size: 13px; }
  .modal__transaction .modal__transaction__header {
    padding: 12px 18px;
    border-bottom: 1px solid #dedede;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px; }
  .modal__transaction .modal__transaction__content {
    padding: 18px; }
  .modal__transaction .modalCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px; }
    .modal__transaction .modalCloseButton:hover {
      background-color: rgba(255, 255, 255, 0.1); }
  .modal__transaction .modal__transaction__header {
    background-color: #0057e5;
    color: #fff;
    border: none;
    position: relative; }

.modal__transaction__form {
  font-size: inherit; }
  .modal__transaction__form fieldset .form-group-collection {
    list-style: none;
    padding: 0;
    margin: 0; }
  .modal__transaction__form fieldset.state--multichild .form-group-collection > li:not(:last-child) {
    margin-bottom: 12px; }
  .modal__transaction__form fieldset.state--multichild .form-group:not(:last-child) {
    margin-bottom: 4px; }
  .modal__transaction__form fieldset.state--multichild .advice {
    top: -2px; }
  .modal__transaction__form .form-group .row {
    display: flex;
    align-content: center;
    justify-content: flex-end; }
  .modal__transaction__form .form-group:not(:last-child) {
    margin-bottom: 12px; }
  .modal__transaction__form .form-group:not(.wAppendix) .row > .left {
    width: 50%; }
  .modal__transaction__form .form-group:not(.wAppendix) .row > .right {
    width: 50%; }
  .modal__transaction__form .form-group.wAppendix .row > .left {
    width: 40%; }
  .modal__transaction__form .form-group.wAppendix .row > .right {
    width: 40%; }
  .modal__transaction__form .form-group.wAppendix .row > .appendix {
    width: 20%;
    padding-left: 12px; }
  .modal__transaction__form .form-group [type="checkbox"] {
    margin-top: 0;
    margin-bottom: 0; }
  .modal__transaction__form .form-group .input[readonly] .asis,
  .modal__transaction__form .form-group .input[disabled] .asis {
    cursor: text; }
  .modal__transaction__form .form-group .input[readonly]:not(.asis),
  .modal__transaction__form .form-group .input[disabled]:not(.asis) {
    background-color: #f6f6f6;
    color: rgba(0, 0, 0, 0.5);
    cursor: default; }
    .modal__transaction__form .form-group .input[readonly]:not(.asis):focus,
    .modal__transaction__form .form-group .input[disabled]:not(.asis):focus {
      border-color: #888; }
  .modal__transaction__form .button {
    line-height: 1;
    border: none;
    outline: none;
    box-shadow: none; }
    .modal__transaction__form .button--primary {
      background-color: #0057E5;
      color: #fff; }
      .modal__transaction__form .button--primary:hover, .modal__transaction__form .button--primary:focus {
        background-color: #1970ff; }
  .modal__transaction__form .label,
  .modal__transaction__form .input {
    font-size: 100%; }
  .modal__transaction__form .label {
    line-height: 1;
    width: 100%;
    display: block;
    text-align: right;
    padding: 10px;
    background-color: #f6f6f6;
    font-weight: bold;
    color: #002; }
    .modal__transaction__form .label.align-left {
      text-align: left; }
    .modal__transaction__form .label.align-right {
      text-align: right; }
  .modal__transaction__form .input {
    line-height: 115%;
    width: 100%;
    display: block;
    padding: 8px;
    border: 1px solid #dedede;
    transition: border-color 0.3s, color 0.3s, background-color 0.3s; }
    .modal__transaction__form .input:focus {
      outline: none;
      box-shadow: none;
      border-color: #0057E5; }
    .modal__transaction__form .input.hidden {
      display: none; }
  .modal__transaction__form textarea {
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 5em;
    max-height: 320px; }
  .modal__transaction__form fieldset:not(:last-child) {
    margin-bottom: 12px; }
  .modal__transaction__form select.input {
    padding: 7px 8px; }
  .modal__transaction__form .input--checkbox {
    margin: 1px 8px 1px 0; }
  .modal__transaction__form .button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; }
    .modal__transaction__form .button--block {
      display: block;
      width: 100%; }
  .modal__transaction__form .helper-block {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.5; }
    .modal__transaction__form .helper-block:first-line {
      line-height: 1; }
    .modal__transaction__form .helper-block p:not(:last-child) {
      margin-bottom: 0.5em; }
    .modal__transaction__form .helper-block a {
      color: #66a0ff; }
      .modal__transaction__form .helper-block a:hover {
        text-decoration: underline; }
  .modal__transaction__form .notice:not(:last-child) {
    margin-bottom: 12px; }

/*# sourceMappingURL=style.css.map */
