<div class="modal__json">
	<div class="modal__json__header">
		JSON
		<span class="modalCloseButton js__modalcloser"><i class="fa fa-times"></i></span>
	</div>
	<div class="modal__json__content">
		<div class="jsonForm formStd">
			<div class="form-group">
				<div class="row">
					<div class="left">
						<label class="label">{{ label }}</label>
					</div>
					<div class="right">
						<textarea class="input" readonly>{{ value }}</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>