<div class="modal__qrCodeScanner">
	<div class="modal__qrCodeScanner__header">
		Scan QR Code
		<span class="modalCloseButton js__modalcloser"><i class="fa fa-times"></i></span>
	</div>
	<div class="modal__qrCodeScanner__content">
		<div class="qrCodeScannerWrapper">
			<canvas class="qrCodeScanner"></canvas>
		</div>
	</div>
</div>