<div class="txPreview">
  <div class="vin">
    <div class="heading">From <span class="floatRight">Amount</span></div>
    <ul class="vinvoutList">
        {% for input in transaction.vin %}
            <li data-object-txid="{{ input.txid }}" data-object-vout="{{ input.vout }}">
              <div class="left addresses {{ 'multisig' if input.addresses|length > 1 }}">
                {% for address in input.scriptPubKey.addresses %}
                  <span>{{ address }}</span> <br>
                {% else %}
                  <span>Address couldn't be decoded</span>
                {% endfor %}
              </div>
              <div class="right value">{{ (input.value / 100000000)|number_format(8, '.', ',') }}</div>
            </li>
        {% endfor %}
    </ul>
  </div>

  <div class="vout">
    <div class="heading">To</div>
    <ul class="vinvoutList">
      {% for output in transaction.vout %}
        <li class="{{ 'deductedChange' if (output.flags and 'change' in output.flags) }}">
          <div class="left addresses {{ 'multisig' if output.scriptPubKey.addresses|length > 1 }}">
            {% for address in output.scriptPubKey.addresses %}
                <span>{{ address }} 
                  {{ '(change)' if (output.flags and 'change' in output.flags) }}
                </span>
                <br>
            {% endfor %}
          </div>
          <div class="right value">{{ (output.value / 100000000)|number_format(8, '.', ',') }}</div>
        </li>
      {% endfor %}
      <li>
        <div class="left">
          Network Fee
        </div>
        <div class="right value">{{ (transaction.fee / 100000000)|number_format(8, '.', ',') }}</div>
      </li>
    </ul>
  </div>
  <div class="summary">
    <div class="heading">Summary</div>
    <ul class="vinvoutList">
      <li>
        <div class="left addresses">Total</div>
        <div class="right value">{{ (transaction.totalSpent / 100000000)|number_format(8, '.', ',') }}</div>
      </li>
    </ul>
  </div>
</div>