<div class="txPreview">
  <div class="vin">
    <div class="heading">From <span class="floatRight">Amount</span></div>
    <ul class="vinvoutList">
      <li>
        
      </li>
    </ul>
  </div>

  <div class="vout">
    <div class="heading">To</div>
    <ul class="vinvoutList">
      <li>
        
      </li>
    </ul>
  </div>
  <div class="summary">
    <div class="heading">Summary</div>
    <ul class="vinvoutList">
      <li>
        
      </li>
    </ul>
  </div>
</div>