/* public/scss/.. */
/* public/scss/.. */
/* public/scss/.. */
.formStd {
  font-size: inherit; }
  .formStd fieldset .form-group-collection {
    list-style: none;
    padding: 0;
    margin: 0; }
  .formStd fieldset.state--multichild .form-group-collection > li:not(:last-child) {
    margin-bottom: 12px; }
  .formStd fieldset.state--multichild .form-group:not(:last-child) {
    margin-bottom: 4px; }
  .formStd fieldset.state--multichild .advice {
    top: -2px; }
  .formStd .form-group .row {
    display: flex;
    align-content: center;
    justify-content: flex-end; }
  .formStd .form-group:not(:last-child) {
    margin-bottom: 12px; }
  .formStd .form-group:not(.wAppendix) .row > .left {
    width: 50%; }
  .formStd .form-group:not(.wAppendix) .row > .right {
    width: 50%; }
  .formStd .form-group.wAppendix .row > .left {
    width: 40%; }
  .formStd .form-group.wAppendix .row > .right {
    width: 40%; }
  .formStd .form-group.wAppendix .row > .appendix {
    width: 20%;
    padding-left: 12px; }
  .formStd .form-group .input[readonly] .asis,
  .formStd .form-group .input[disabled] .asis {
    cursor: text; }
  .formStd .form-group .input[readonly]:not(.asis),
  .formStd .form-group .input[disabled]:not(.asis) {
    background-color: #f6f6f6;
    color: rgba(0, 0, 0, 0.5);
    cursor: default; }
    .formStd .form-group .input[readonly]:not(.asis):focus,
    .formStd .form-group .input[disabled]:not(.asis):focus {
      border-color: #888; }
  .formStd .button {
    line-height: 1;
    border: none;
    outline: none;
    box-shadow: none; }
    .formStd .button--primary {
      background-color: #0057E5;
      color: #fff; }
      .formStd .button--primary:hover, .formStd .button--primary:focus {
        background-color: #1970ff; }
  .formStd .label,
  .formStd .input {
    font-size: 100%; }
  .formStd .label {
    line-height: 1;
    width: 100%;
    display: block;
    text-align: right;
    padding: 10px;
    background-color: #f6f6f6;
    font-weight: bold;
    color: #002; }
    .formStd .label.align-left {
      text-align: left; }
    .formStd .label.align-right {
      text-align: right; }
  .formStd .input {
    line-height: 115%;
    width: 100%;
    display: block;
    padding: 8px;
    border: 1px solid #dedede;
    transition: border-color 0.3s, color 0.3s, background-color 0.3s; }
    .formStd .input:focus {
      outline: none;
      box-shadow: none;
      border-color: #0057E5; }
    .formStd .input.hidden {
      display: none; }
  .formStd textarea {
    white-space: pre-wrap;
    word-wrap: break-word;
    min-height: 5em;
    max-height: 320px; }
  .formStd fieldset:not(:last-child) {
    margin-bottom: 12px; }
  .formStd select.input {
    padding: 7px 8px; }
  .formStd .input--checkbox {
    margin: 1px 8px 1px 0; }
  .formStd .button {
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer; }
    .formStd .button--block {
      display: block;
      width: 100%; }
  .formStd .helper-block {
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.5; }
    .formStd .helper-block:first-line {
      line-height: 1; }
    .formStd .helper-block p:not(:last-child) {
      margin-bottom: 0.5em; }
    .formStd .helper-block a {
      color: #66a0ff; }
      .formStd .helper-block a:hover {
        text-decoration: underline; }
  .formStd .notice:not(:last-child) {
    margin-bottom: 12px; }

.flash-notice {
  margin-bottom: 12px;
  padding: 10px;
  border-left-width: 3px;
  border-left-style: solid; }
  .flash-notice--success {
    border-color: #00E557;
    background-color: #f6fff6; }
  .flash-notice--error {
    border-color: #E50057;
    background-color: #fff6f6; }

.adviceRow:empty {
  display: none; }

.advice {
  margin-top: 12px;
  font-size: 12px;
  padding: 8px;
  position: relative;
  background-color: #dedede;
  transition: all 0.2s; }
  .advice:before {
    content: "";
    border-color: transparent transparent #dedede transparent;
    border-style: solid;
    border-width: 0 8px 8px 8px;
    top: -8px;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    width: 0;
    transition: all 0.2s; }
  .advice--green {
    background-color: #009000;
    color: #fff; }
    .advice--green:before {
      border-bottom-color: #009000; }
  .advice--blue {
    background-color: #0057E5;
    color: #fff; }
    .advice--blue:before {
      border-bottom-color: #0057E5; }
  .advice--red {
    background-color: #c91400;
    color: #fff; }
    .advice--red:before {
      border-bottom-color: #c91400; }
  .advice p {
    margin-bottom: 8px; }

.adviceList {
  list-style: none; }
  .adviceList li:not(:last-child) {
    margin-bottom: 6px; }
  .adviceList li:not(:only-child):before {
    content: "\2022";
    margin-right: 6px; }
  .adviceList li:only-child:before {
    content: none; }

/* public/scss/.. */
.modal__qrCode {
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  width: 960px;
  margin: 18px;
  font-size: 13px; }
  .modal__qrCode .modal__qrCode__header {
    padding: 12px 18px;
    border-bottom: 1px solid #dedede;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px; }
  .modal__qrCode .modal__qrCode__content {
    padding: 0; }
  .modal__qrCode .modalCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
    .modal__qrCode .modalCloseButton:hover {
      background-color: #f6f6f6; }
  .modal__qrCode .modal__qrCode__header {
    position: relative; }
  .modal__qrCode .qrCodeWrapper {
    text-align: center; }

.modal__qrCodeScanner {
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  margin: 18px;
  font-size: 13px; }
  .modal__qrCodeScanner .modal__qrCodeScanner__header {
    padding: 12px 18px;
    border-bottom: 1px solid #dedede;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px; }
  .modal__qrCodeScanner .modal__qrCodeScanner__content {
    padding: 18px; }
  .modal__qrCodeScanner .modalCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
    .modal__qrCodeScanner .modalCloseButton:hover {
      background-color: #f6f6f6; }
  .modal__qrCodeScanner .modal__qrCodeScanner__header {
    position: relative; }
  .modal__qrCodeScanner .qrCodeScannerWrapper {
    text-align: center; }
  .modal__qrCodeScanner .qrCodeScanner {
    width: 640px;
    height: 480px; }

.modal__json {
  padding: 0;
  background: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: none;
  width: 960px;
  margin: 18px;
  font-size: 13px; }
  .modal__json .modal__json__header {
    padding: 12px 18px;
    border-bottom: 1px solid #dedede;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 0.5px; }
  .modal__json .modal__json__content {
    padding: 0; }
  .modal__json .modalCloseButton {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    color: #000; }
    .modal__json .modalCloseButton:hover {
      background-color: #f6f6f6; }
  .modal__json .modal__json__header {
    position: relative; }

.qrCodeForm,
.jsonForm {
  padding: 18px; }

/*# sourceMappingURL=style.css.map */
